html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1ff62;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: auto; /* Keep the auto overflow to enable scrollbar */
}

/* Customize the scrollbar for WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 1px; /* Set the width of the scrollbar */
}


@tailwind base;
@tailwind components;
@tailwind utilities;